* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "Optima";
    src: url('/fonts/optima_bold.woff') format('woff'),
         url('/fonts/optima_bold.woff2') format('woff2'),
         url('/fonts/optima_regular.woff') format('woff'),
         url('/fonts/optima_regular.woff2') format('woff2'),
         url('/fonts/optima_italic.woff') format('woff'),
         url('/fonts/optima_italic.woff2') format('woff2');
}

body{
    display: grid;
}

:root{
    --optima: Optima;
    --gray-font: #73738C;
    --blue-button: #21BDE5;
    --theme-color: #F7CE46;
    --black: #000000;
    --white: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.199);
    --shadow-button: 0 0 .5em var(--shadow-color);
    --padding-button: .5em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    /* background: */
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
}